Data Extraction

In [150]:
# import packages
import pandas as pd
import numpy as np
import os, sys 
import re

sys.path.append(os.getcwd())

In [151]:
# import datasets

# load state dataset: Arkansas
file = "../../orig/AR_Washington_Charges.csv"
dfArkansas = pd.read_csv(os.path.join(os.path.dirname('__file__'),file),index_col=0)

# load state dataset: Louisiana
file = "../../orig/LA_East_Baton_Rouge_Charges.csv"
dfLouisiana = pd.read_csv(os.path.join(os.path.dirname('__file__'),file),index_col=0)

# load state dataset: Michigan
file = "../../orig/MI_Wayne_Charges.csv"
dfMichigan = pd.read_csv(os.path.join(os.path.dirname('__file__'),file),index_col=0)

# load state dataset: New York
file = "../../orig/2_4_data_NYC.xlsx"
dfNY = pd.read_excel(os.path.join(os.path.dirname('__file__'),file),index_col=0)

In [152]:
# general state level statistics

# 1. Arkansas
uniqueRaceAR = dfArkansas.groupby(['Race'])['Race'].count()
uniqueSexAR = dfArkansas.groupby(['Sex'])['Sex'].count()
print('ARKANSAS')
print(f'Total: {sum(uniqueRaceAR)}: {uniqueRaceAR}')
print(f'Total: {sum(uniqueSexAR)}: {uniqueSexAR}')
print('',sep='\n\n')

# 2. Louisiana
uniqueRaceLA = dfLouisiana.groupby(['Race'])['Race'].count()
uniqueSexLA = dfLouisiana.groupby(['Sex'])['Sex'].count()
print('LOUISIANA')
print(f'Total: {sum(uniqueRaceLA)}: {uniqueRaceLA}')
print(f'Total: {sum(uniqueSexLA)}: {uniqueSexLA}')
print('',sep='\n\n')

# 3. Michigan
print('MICHIGAN: N/A')
print('',sep='\n\n')

# 4. New York
uniqueRaceNY = dfNY.groupby(['race'])['race'].count()
uniqueSexNY = dfNY.groupby(['gender'])['gender'].count()
print('NEW YORK')
print(f'Total: {sum(uniqueRaceNY)}: {uniqueRaceNY}')
print(f'Total: {sum(uniqueSexNY)}: {uniqueSexNY}')
print('',sep='\n\n')

ARKANSAS
Total: 49960: Race
Asian         284
Black        8764
Hispanic     5752
Indian        183
None          691
White       34055
p             231
Name: Race, dtype: int64
Total: 49960: Sex
F        8467
M       41441
None       52
Name: Sex, dtype: int64

LOUISIANA
Total: 280240: Race
Asian          290
Black       222211
Hispanic      5636
None          2285
White        49818
Name: Race, dtype: int64
Total: 280240: Sex
F        38098
M       242067
None        75
Name: Sex, dtype: int64

MICHIGAN: N/A

NEW YORK
Total: 5182: race
Asian        83
Black      3068
Indian       12
Other      1426
Unknown      13
White       580
Name: race, dtype: int64
Total: 5182: gender
Female     299
Male      4883
Name: gender, dtype: int64

In [153]:
def swap_columns(df, c1, c2):
    
    df['temp'] = df.iloc[:, c1]
    df.iloc[:, c1] = df.iloc[:, c2]
    df.iloc[:, c2] = df['temp']
    df.drop(columns=['temp'], inplace=True)

In [154]:
# preprocess each state before mapping by BJS codes


from datetime import *

# 1. Arkansas
temp = dfArkansas.copy()

# no duplicates across all columns
print("Arkansas")
print('Before dropping duplicates:',len(temp))
temp = temp.drop_duplicates(keep='first', inplace=False)
print('After dropping duplicates:',len(temp))

# remove unncessary columns for computation time
temp.drop(['Address','Release_Time','Inmate_ID','Eyes','Hair','Height',\
           'Weight','Booking_Time','Arresting_Agency','Charge_End',\
           'Charge_Start','Court','Date','Department','Time'], \
          axis=1, inplace=True)
# append time spent in jail column
durationJailAR = []
for book, release in zip(list(temp['Booking_Date']), list(temp['Release_Date'])):
    book_tokens = book.split('/')
    book_yy = int(book_tokens[2])
    book_mm = int(book_tokens[0])
    book_dd = int(book_tokens[1])
    bookdate = date(book_yy, book_mm, book_dd)
    
    release_tokens = release.split('/')
    if release_tokens[0] == 'None':
        duration = -1
    else:
        release_yy = int(release_tokens[2])
        release_mm = int(release_tokens[0])
        release_dd = int(release_tokens[1])
        releasedate = date(release_yy, release_mm, release_dd)
        duration = int((releasedate - bookdate).days)
    durationJailAR.append(duration)
temp.drop(['Booking_Date','Release_Date'], axis=1, inplace=True)
temp['Duration_Jail'] = durationJailAR

temp.reset_index(drop=True,inplace=True)
temp['Bond'] = list(temp['Bond'].map(lambda x: float(str(x).lstrip('$').rstrip(' ').replace(',',''))))

# swap columns for reaability
swap_columns(temp,3,4)
temp.columns = temp.columns.str.replace('Bond','tmp')
temp.columns = temp.columns.str.replace('Charge','Bond')
temp.columns = temp.columns.str.replace('tmp','Charge')

# substitute back the filtered dataframe
dfArkansasCleaned = temp.copy()
dfArkansasCleaned

Arkansas
Before dropping duplicates: 49960
After dropping duplicates: 8480

,Age,Race,Sex,Charge,Bond,Duration_Jail
0,21,Black,F,FAILURE TO APPEAR,50000.0,-1
1,21,Black,F,RULE 8.1 HEARING,0.0,-1
2,21,Black,F,HOLD FOR OTHER DEPT,0.0,-1
3,21,Black,F,FAILURE TO APPEAR,0.0,-1
4,21,Black,F,RULE 8.1 HEARING,0.0,-1
...,...,...,...,...,...,...
8475,31,Hispanic,F,ASSAULT ON FAMILY MEMBER 3RD,0.0,-1
8476,31,Hispanic,F,ENDANG. WELFARE OF A MINOR 3RD,0.0,-1
8477,31,Hispanic,F,RULE 8.1 HEARING,0.0,-1
8478,37,Black,M,INTERFERENCE W CUSTODY,0.0,-1
8479,37,Black,M,RULE 8.1 HEARING,0.0,-1

In [155]:
# 2. Louisiana

temp = dfLouisiana.copy()

# no duplicates across all columns
print("Louisiana")
print('Before dropping duplicates:',len(temp))
temp = temp.drop_duplicates(keep='first', inplace=False)
print('After dropping duplicates:',len(temp))

temp.drop(['Jail_ID','Bond_Date','Court', 'File_Number', 'Name','Statute'], axis=1, inplace=True)
durationJailLA = []
for book, release, status in zip(list(temp['Booking_Date']), list(temp['Release_Date']), \
                                 list(temp['Status'])):
    book_tokens = book.split('-')
    release_tokens = release.split('-')
    if book_tokens[0] == 'None' or release_tokens[0] == 'None':
        duration = -1;  
    else:
        book_yy = int(book_tokens[0])
        book_mm = int(book_tokens[1])
        book_dd = int(book_tokens[2])
        bookdate = date(book_yy, book_mm, book_dd)
        
        release_yy = int(release_tokens[0])
        release_mm = int(release_tokens[1])
        release_dd = int(release_tokens[2])
        releasedate = date(release_yy, release_mm, release_dd)
        duration = int((releasedate - bookdate).days)
        
    durationJailLA.append(duration)

temp.drop(['Booking_Date','Release_Date','Status'], axis=1, inplace=True)
temp['Duration_Jail'] = durationJailLA

# swap columns for reaability
swap_columns(temp,2,3)
temp.columns = temp.columns.str.replace('Bond_Amount','tmp')
temp.columns = temp.columns.str.replace('Charge','Bond')
temp.columns = temp.columns.str.replace('tmp','Charge')

# substitute back the filtered dataframe
dfLouisianaCleaned = temp.copy()
dfLouisianaCleaned

Louisiana
Before dropping duplicates: 280240
After dropping duplicates: 50528

       Sex   Race                Charge     Bond  Duration_Jail
0        M  Black      POSS SCH 1 DRUGS  20000.0              1
1        M  Black   DIST/MANF SCH1 DRUG      0.0             -1
2        M  Black    CRUELTY TO ANIMALS      0.0             16
3        F  Black  CRUELTY TO JUVENILES   2500.0             -1
4        F  Black  WARRANT/BENCH WARRAN      0.0             -1
...     ..    ...                   ...      ...            ...
278852   M  Black  ISS WORTHLESS CHECKS      0.0             -1
278853   M  Black        BATT/SIMPLE/CC      0.0             -1
278970   M  Black      POSS SCH 2 DRUGS  96000.0             -1
279356   M  White   MONETARY INSTRUMENT  15000.0             -1
279357   M  White            BANK FRAUD      0.0             -1

[50528 rows x 5 columns]

In [156]:
# 3. Michigan
# For Michigan, we process this differently than others because it does not have 
# demographic info or time already spent in jail info
temp = dfMichigan.copy()

# no duplicates across all columns
print("Michigan")
print('Before dropping duplicates:',len(temp))
temp = temp.drop_duplicates(keep='first', inplace=False)
print('After dropping duplicates:',len(temp))

# Michigan has booking date, offense date, sentence date, but not release date
# however, it has sentence length, which is expected time that will be spent in jail (meaningful metric)
temp.drop(['Booking_Date','Booking_Time','County','Court_Date',\
           'DOB','Disposition', 'Docket_Number','Location','Offense_Date',\
           'Offense_Time','Sentence_Date'], axis=1, inplace=True)
temp.reset_index(inplace=True)

# mark NaN sentence lengths as 01
temp['Sentence_Length'].replace(np.nan, -1, inplace=True)

# expected Duration_Jail
print('processing sentence times...')
sentence_times = []
for index,row in enumerate(temp.iterrows()):
    # sentence time
    sentence_time = 0
    sentence_entry = row[1].Sentence_Length
    
    if sentence_entry == -1:
        sentence_time = 0
    else:
        sentence_entry_tokens = sentence_entry.split()
        if sentence_entry_tokens[1] == 'day' or sentence_entry_tokens[1] == 'days':
            sentence_time = int(sentence_entry_tokens[0])
        elif sentence_entry_tokens[1] == 'month' or sentence_entry_tokens[1] == 'months':
            sentence_time = (30 * int(sentence_entry_tokens[0]))
            if len(sentence_entry_tokens) > 2:
                if sentence_entry_tokens[3] == 'day' or sentence_entry_tokens[3] == 'days':
                    sentence_time += int(sentence_entry_tokens[2])
        elif sentence_entry_tokens[1] == 'year' or sentence_entry_tokens[1] == 'years':
            sentence_time = (365 * int(sentence_entry_tokens[0]))
    sentence_times.append(sentence_time)

# insert expected sentence lengths
temp['Duration_JailExp'] = sentence_times
temp.drop(['Sentence_Length'],axis=1,inplace=True)

# Bond amounts
print('processing bond amounts...')
# mark empty or NaN bond entries as -1
temp['Bond'].replace(np.nan, -1, inplace=True)
temp['Bond'].replace('', -1, inplace=True)
previous_person = ''
personIdx = -1
found_duplicate_person = False
bond_amt_list = []
keyword = 'Bond_Amount'
for index, row in temp.iterrows():    
    if row.Bond == -1: # NaN or empty Bond information
        bond_amt_list.append(-1) # -1
    elif row.Bond == 'None' or len(row.Bond) == 0:
        bond_amt_list.append(-1) # 0
    else:
        # strip bond info's into chunks
        bond_info = [item+'}' if item[0] == '}' else item for item in row.Bond.strip('][').split('}, ')]
        # extract all bond amount values for that person
        bond_amounts = []
        for bond in bond_info:
            # if 'None' or empty, set value to 0
            if bond == 'None' or len(bond) == 0:
                val = -1
            else:
                startidx = bond.index(keyword)
                val = bond[startidx + len(keyword) + 3:-1].strip("}'")
            bond_amounts.append(val)
        
        # keep person count
        if previous_person != row.Name:
            personIdx = 0   # start new count if new person
        elif previous_person == row.Name:
            personIdx += 1  # increment if same person
#         print('personIdx:',personIdx, 'length of bond info:',len(bond_info))
        if len(bond_info) < (personIdx+1):
            # add $0 if insufficient information is provided
            bond_amt_list.append(-1)
        else:
            # otherwise, append the bond amount for the current case index
            bond_amt_list.append(bond_amounts[personIdx])
#         print('added bond value:',bond_amt_list[-1])
    previous_person = row.Name

# insert bond amounts into each case (charge)
temp['Bond_'] = bond_amt_list
temp['Bond_'] = pd.to_numeric(temp['Bond_'], errors='coerce')
temp.drop(['Bond'],axis=1,inplace=True)
temp['Bond_'].replace(-1, np.nan, inplace=True)
temp.dropna(subset=['Bond_'], inplace=True)

# swap columns for reaability
swap_columns(temp,3,4)
temp.columns = temp.columns.str.replace('Bond_','tmp')
temp.columns = temp.columns.str.replace('Duration_JailExp','Bond')
temp.columns = temp.columns.str.replace('tmp','Duration_JailExp')

dfMichiganCleaned = temp.copy()
dfMichiganCleaned

Michigan
Before dropping duplicates: 198973
After dropping duplicates: 44396
processing sentence times...
processing bond amounts...

,Name,Charge,Charge_Classification,Bond,Duration_JailExp
0,MOHAMED-ALI NABIL ABDALLAH,ASSAULT OR ASSAULT AND BATTERY,Misdemeanor,500.0,0
1,MOHAMED-ALI NABIL ABDALLAH,DOMESTIC VIOLENCE,Misdemeanor,500.0,0
3,THOMAS PATRICK ABRAHAM,OPERATING - OUIL/PER SE/OWI - 3RD OFFENSE NOTICE,Felony,250.0,0
4,ALEXANDER ACEVAL,CONTROLLED SUBSTANCE-DELIVERY/MANUFACTURE (SCH...,Felony,750000.0,0
5,ALEXANDER ACEVAL,CONTROLLED SUBSTANCE-DEL/MFG-450-999 GRAMS,Felony,500000.0,0
...,...,...,...,...,...
44391,AVERY THOMPSON,Assault with a Dangerous Weapon (Felonious Ass...,Felony,1500.0,0
44392,JUSTIN WESLEY,CONTROLLED SUBSTANCE-DEL/MFG LESS THAN 50 GRAMS,Felony,300.0,0
44393,JUSTIN WESLEY,ORDINANCE VIOLATION,Local Ordinance,300.0,0
44394,JUSTIN WESLEY,ORDINANCE VIOLATION,Local Ordinance,5000.0,0
44395,WATLER MALIK WHITNER,HOMICIDE - FELONY MURDER,Felony,0.0,0

In [157]:
# New York
temp = dfNY.copy()

# no duplicates across all columns
print("New York")
print('Before dropping duplicates:',len(temp))
temp = temp.drop_duplicates(keep='first', inplace=False)
print('After dropping duplicates:',len(temp))

# remove rows without bond information
replace_values = {'released' : np.nan, 'remanded' : np.nan, 'sentenced':np.nan, 'unknown' : np.nan}  
temp['bond_info'].replace(replace_values, inplace=True)
temp.dropna(subset=['bond_info'], inplace=True)
orig_removed_str_bond_total_count = len(list(temp.bond_info))
print("Now: {} cases without non-numeric bond information".format(orig_removed_str_bond_total_count))

# remove $ bonds (those <= 10 dollars)
replace_values = {0 : np.nan, 1 : np.nan, 2 : np.nan, 3: np.nan, 4: np.nan, 5: np.nan, \
                  6: np.nan, 7: np.nan, 8: np.nan, 9: np.nan, 10: np.nan}   
temp['bond_info'].replace(replace_values, inplace=True)
temp.dropna(subset=['bond_info'], inplace=True)
orig_removed_zero_bond_total_count = len(list(temp.bond_info))
print("Now: {} cases without placeholder bond information".format(orig_removed_zero_bond_total_count))

# sort by NYSID
temp.sort_values(by=['nysid'], ascending=True, na_position='first', inplace=True)
# convert bond info into float
bond_amts = [float(item) for item in list(temp.bond_info)]
temp['bond_info'] = bond_amts

temp.reset_index(inplace=True)
temp.drop(['nysid','warrants','arrest_date','next_court_date','housing_facility','docket_numbers','is_new','Unnamed: 11'],\
          axis = 1, inplace=True)

# extract only first state statute
statute_list = []
for iter, row in temp.iterrows():
    charges = row.charges
    statute = [int(re.sub("[^0-9]","",charges[0:7].replace('.','').replace('-',''))) \
                     if charges[0:7][0].isdigit() else 0]
    statute_list.append(statute[0])
temp['first_statute'] = statute_list

dfNYCleaned = temp.copy()

New York
Before dropping duplicates: 5393
After dropping duplicates: 4996
Now: 1906 cases without non-numeric bond information
Now: 1548 cases without placeholder bond information

In [158]:
# save to csv
dfArkansasCleaned.to_csv('./cleaned/arkansas.csv', index=False)
dfLouisianaCleaned.to_csv('./cleaned/louisiana.csv', index=False)
dfMichiganCleaned.to_csv('./cleaned/michigan.csv', index=False)
dfNYCleaned.to_csv('./cleaned/newyork.csv', index=False)

In [159]:
dfArkansasCleaned

,Age,Race,Sex,Charge,Bond,Duration_Jail
0,21,Black,F,FAILURE TO APPEAR,50000.0,-1
1,21,Black,F,RULE 8.1 HEARING,0.0,-1
2,21,Black,F,HOLD FOR OTHER DEPT,0.0,-1
3,21,Black,F,FAILURE TO APPEAR,0.0,-1
4,21,Black,F,RULE 8.1 HEARING,0.0,-1
...,...,...,...,...,...,...
8475,31,Hispanic,F,ASSAULT ON FAMILY MEMBER 3RD,0.0,-1
8476,31,Hispanic,F,ENDANG. WELFARE OF A MINOR 3RD,0.0,-1
8477,31,Hispanic,F,RULE 8.1 HEARING,0.0,-1
8478,37,Black,M,INTERFERENCE W CUSTODY,0.0,-1
8479,37,Black,M,RULE 8.1 HEARING,0.0,-1

In [160]:
dfLouisianaCleaned

       Sex   Race                Charge     Bond  Duration_Jail
0        M  Black      POSS SCH 1 DRUGS  20000.0              1
1        M  Black   DIST/MANF SCH1 DRUG      0.0             -1
2        M  Black    CRUELTY TO ANIMALS      0.0             16
3        F  Black  CRUELTY TO JUVENILES   2500.0             -1
4        F  Black  WARRANT/BENCH WARRAN      0.0             -1
...     ..    ...                   ...      ...            ...
278852   M  Black  ISS WORTHLESS CHECKS      0.0             -1
278853   M  Black        BATT/SIMPLE/CC      0.0             -1
278970   M  Black      POSS SCH 2 DRUGS  96000.0             -1
279356   M  White   MONETARY INSTRUMENT  15000.0             -1
279357   M  White            BANK FRAUD      0.0             -1

[50528 rows x 5 columns]

In [161]:
dfMichiganCleaned

,Name,Charge,Charge_Classification,Bond,Duration_JailExp
0,MOHAMED-ALI NABIL ABDALLAH,ASSAULT OR ASSAULT AND BATTERY,Misdemeanor,500.0,0
1,MOHAMED-ALI NABIL ABDALLAH,DOMESTIC VIOLENCE,Misdemeanor,500.0,0
3,THOMAS PATRICK ABRAHAM,OPERATING - OUIL/PER SE/OWI - 3RD OFFENSE NOTICE,Felony,250.0,0
4,ALEXANDER ACEVAL,CONTROLLED SUBSTANCE-DELIVERY/MANUFACTURE (SCH...,Felony,750000.0,0
5,ALEXANDER ACEVAL,CONTROLLED SUBSTANCE-DEL/MFG-450-999 GRAMS,Felony,500000.0,0
...,...,...,...,...,...
44391,AVERY THOMPSON,Assault with a Dangerous Weapon (Felonious Ass...,Felony,1500.0,0
44392,JUSTIN WESLEY,CONTROLLED SUBSTANCE-DEL/MFG LESS THAN 50 GRAMS,Felony,300.0,0
44393,JUSTIN WESLEY,ORDINANCE VIOLATION,Local Ordinance,300.0,0
44394,JUSTIN WESLEY,ORDINANCE VIOLATION,Local Ordinance,5000.0,0
44395,WATLER MALIK WHITNER,HOMICIDE - FELONY MURDER,Felony,0.0,0

In [162]:
dfNYCleaned

,bond_info,charges,race,gender,first_statute
0,50000.0,110-120.10 FC (Attempted ASSAULT-1ST C Felony),Other,Male,110120
1,50000.0,110-125.25 FB (Attempted MURDER B Felony),Black,Male,110125
2,1000000.0,110-125.25 FB (Attempted MURDER B Felony),Black,Male,110125
3,15000.0,120.05 FD (ASSAULT -2ND D Felony),Black,Male,12005
4,500000.0,230.34 FB ( B Felony),Black,Male,23034
...,...,...,...,...,...
1543,25000.0,125.25 FA (MURDER A Felony),Black,Male,12525
1544,50000.0,265.03 FC (CRIM POSS WEAPON- 2ND DEGREE C Felony),Black,Male,26503
1545,100000.0,130.35 FB (RAPE-1ST B Felony),Other,Male,13035
1546,5000.0,130.65 FD (SEXUAL ABUSE-1ST D Felony),Other,Male,13065
1547,15000.0,140.30 FB (BURGLARY-1ST B Felony),Black,Male,14030

In [163]:
# for manual mapping of charge descriptions to national BJS code
charge_list_AR = list(map(lambda x: str(x),dfArkansasCleaned.Charge.unique()))
charge_list_LA = list(dfLouisianaCleaned.Charge.unique())
charge_list_MI = list(dfMichiganCleaned.Charge.unique())
charge_list_NY = list(dfNYCleaned.charges.unique())

with open('./cleaned/charge_list_AR.txt', 'w') as filehandle:
    for charge in charge_list_AR:
        filehandle.write('%s\n' % charge)
with open('./cleaned/charge_list_LA.txt', 'w') as filehandle:
    for charge in charge_list_LA:
        filehandle.write('%s\n' % charge)
with open('./cleaned/charge_list_MI.txt', 'w') as filehandle:
    for charge in charge_list_MI:
        filehandle.write('%s\n' % charge)
with open('./cleaned/charge_list_NY.txt', 'w') as filehandle:
    for charge in charge_list_NY:
        filehandle.write('%s\n' % charge)

In [164]:
# load penal code: Bureau of Justice Statistics penal codes
file = "../../penal_codes/BJS_states.xlsx"
dfBJS = pd.read_excel(os.path.join(os.path.dirname('__file__'),file))

In [165]:
# BJS code to broad category dict
# key: bjs code, value: bjs broad category
bjs_dict = pd.Series(dfBJS.iloc[1:,3].str.lower().values,\
                    index=dfBJS.iloc[1:,0].str.lower()\
                     .replace(np.nan,0,inplace=False).astype(int))\
                    .dropna().rename({'None':'other'}).to_dict()
# print(bjs_dict)
print("BJS Broad Categories:",sorted( list(np.unique([categ for categ in bjs_dict.values()])), reverse=False ))

BJS Broad Categories: ['drug', 'other', 'property', 'public order', 'violent']

In [166]:
# mapping of state-level unique charges to BJS codes
# 1. Arkansas
file = "../../code_maps/arkansas_map.csv"
AR_code_map = pd.read_csv(os.path.join(os.path.dirname('__file__'),file), \
                                     index_col=0, header=None, usecols=[1])

AR_charge_BJS_code_map = list(AR_code_map.index[1:])

# enter BJS code as values
charge_list_AR = list(map(lambda x: str(x),dfArkansasCleaned.Charge.unique()))
AR_charge_code = dict() # state charge desc to BJS code
for charge, label in zip(charge_list_AR, AR_charge_BJS_code_map):
    if label == '0':
        label = 999 # other
    if isinstance(charge,str):
        charge = charge.lower()
    AR_charge_code[charge] = int(label)

# run through actual data (cleaned) to map to code
data = dfArkansasCleaned.Charge.str.lower()
AR_code_categ = dict()
count = 0

# BJS Broad Category dicts to store row indices
BJS_broad_categ_dict = dict()
for idx,charge in enumerate(data):
    if charge in list(AR_charge_code.keys()):
        count += 1
        foundIdx = list(AR_charge_code.keys()).index(charge)
        AR_code =  list(AR_charge_code.values())[foundIdx]
        AR_categ = bjs_dict.get(AR_code)
        if AR_categ is None:
            AR_categ = 'other'
        # keep counter
        # and store indices to the BJS Broad Category dicts
        if AR_categ in AR_code_categ:
            AR_code_categ[AR_categ] += 1
        else:
            AR_code_categ[AR_categ] = 1
            BJS_broad_categ_dict[AR_categ] = []
        BJS_broad_categ_dict[AR_categ].append(idx)
            
# print('ex:',BJS_broad_categ_dict['violent'][0:5])
print("Arkansas stats: %s" % AR_code_categ)

# groups = ['violent','public order','drug','property','other']
for i, group in enumerate(AR_code_categ):
    print('\n\n====GROUP====')
    idx = BJS_broad_categ_dict[group]
    dfARgroup = dfArkansasCleaned.iloc[idx,:]
    dfARgroup.to_csv('./cleaned/AR_'+group+'.csv', index=False)
    # statistics by each BJS broad category for AR
    avgAge = dfARgroup['Age'].mean()
    races = dfARgroup['Race'].value_counts().sort_index()
    sexes = dfARgroup['Sex'].value_counts().sort_index()
    bonds = dfARgroup['Bond'].mean()
    print(f'\n\ngroup: {group} \n avg age: \n\t{avgAge:.1f}, \n races: \n\t{races}, \nsexes: \n\t{sexes}\n avg bonds: \n\t{bonds:.2f}')
    
    # break into placeholder and nontrivial dataframes
    mask = dfARgroup['Bond'] == 0
    placeholder_df = dfARgroup[mask]
    avgAge = placeholder_df['Age'].mean()
    races = placeholder_df['Race'].value_counts().sort_index()
    sexes = placeholder_df['Sex'].value_counts().sort_index()
    bonds = placeholder_df['Bond'].mean()
    print(f'\n\nplaceholder: \n age: \n\t{avgAge:.1f}, \n races: \n\t{races}, \n sexes: \n\t{sexes} \n avg bonds: \n\t{bonds:.2f}')
    
    nontrivial_df = dfARgroup[~mask]
    avgAge = nontrivial_df['Age'].mean()
    races = nontrivial_df['Race'].value_counts().sort_index()
    sexes = nontrivial_df['Sex'].value_counts().sort_index()
    bonds = nontrivial_df['Bond'].mean()
    print(f'\n\nmeaningful: \n\t\t age: \n\t{avgAge:.1f}, \n races: \n\t{races}, \n sexes: \n\t{sexes} \n avg bonds: \n\t{bonds:.2f}')
        
    # Bond breakdown on nontrivial df
    mask = nontrivial_df['Bond'] <= 1000
    bondGroupAR1 = nontrivial_df[mask]
    bondGroupAR2 = nontrivial_df[~mask]

    
    for i, dfARgroup in enumerate([bondGroupAR1, bondGroupAR2]):
        print('\n\n====BOND====')
        if i == 0:
            group = 'Bond <= $1,000'
        elif i == 1:
            group = 'Bond > $1,000'
        avgAge = dfARgroup['Age'].mean()
        races = dfARgroup['Race'].value_counts().sort_index()
        sexes = dfARgroup['Sex'].value_counts().sort_index()
        bonds = dfARgroup['Bond'].mean()
        times = dfARgroup['Duration_Jail'].value_counts().sort_index()
        print(f'\nbond group: {group} \n avg age: \n\t{avgAge:.1f}, \n races: \n{races}, \n sexes:\n{sexes} \n avg bonds: \n\t{bonds:.2f}, \ntimes:{times}')
        
        # bond and time
        print('\n\n====BOND AND TIME====')
        mask1 = dfARgroup['Duration_Jail'] != -1
        mask = dfARgroup['Duration_Jail'] <= 20 & mask1
        dfARgroupBondTime1 = dfARgroup[mask]
        avgAge = dfARgroupBondTime1['Age'].mean()
        races = dfARgroupBondTime1['Race'].value_counts().sort_index()
        sexes = dfARgroupBondTime1['Sex'].value_counts().sort_index()
        bonds = dfARgroupBondTime1['Bond'].mean()
        times = dfARgroupBondTime1['Duration_Jail'].value_counts().sort_index()
        print(f'\nbond: {group}, time: <= 20  \n avg age: \n\t{avgAge:.1f}, \n races: \n\t{races}, \n sexes:\n\t{sexes} \n avg bonds: \n\t{bonds:.2f}, \ntimes: \n\t{times}')
        
        dfARgroupBondTime2 = dfARgroup[~mask & mask1]
        avgAge = dfARgroupBondTime2['Age'].mean()
        races = dfARgroupBondTime2['Race'].value_counts().sort_index()
        sexes = dfARgroupBondTime2['Sex'].value_counts().sort_index()
        bonds = dfARgroupBondTime2['Bond'].mean()
        times = dfARgroupBondTime2['Duration_Jail'].value_counts().sort_index()
        print(f'\nbond: {group}, time: > 20  \n avg age: \n\t{avgAge:.1f}, \n races: \n\t{races}, \n sexes:\n\t{sexes} \n avg bonds: \n\t{bonds:.2f}, \ntimes: \n\t{times}')
    
    # Time breakdown on nontrivial df
    dfArkansasCleanedTime = nontrivial_df[nontrivial_df['Duration_Jail'] != -1]
    mask = dfArkansasCleanedTime['Duration_Jail'] <= 20
    timeGroupAR1 = dfArkansasCleanedTime[mask]
    timeGroupAR2 = dfArkansasCleanedTime[~mask]

    for i, dfARgroup in enumerate([timeGroupAR1, timeGroupAR2]):
        print('\n\n====TIME ONLY====')
        if i == 0:
            group = 'time <= 20 days'
        elif i == 1:
            group = 'time > 20 days'

        avgAge = dfARgroup['Age'].mean()
        races = dfARgroup['Race'].value_counts().sort_index()
        sexes = dfARgroup['Sex'].value_counts().sort_index()
        bonds = dfARgroup['Bond'].mean()
        times = dfARgroup['Duration_Jail'].value_counts().sort_index()
        print(f'\ntime group: {group} \n avg age: \n\t{avgAge:.1f}, \
                \n races: \n\t{races}, \n sexes:\n\t{sexes} \
                \n avg bonds: \n\t{bonds:.2f}')

Arkansas stats: {'public order': 5133, 'other': 1178, 'drug': 938, 'property': 562, 'violent': 658}


====GROUP====


group: public order
 avg age:
	34.4,
 races:
	Asian         21
Black        853
Hispanic     468
Indian        21
None          63
White       3690
p             17
Name: Race, dtype: int64,
sexes:
	F        900
M       4222
None      11
Name: Sex, dtype: int64
 avg bonds:
	7856.44


placeholder:
 age:
	34.3,
 races:
	Asian         16
Black        743
Hispanic     390
Indian        14
None          45
White       3103
p             15
Name: Race, dtype: int64,
 sexes:
	F        714
M       3601
None      11
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
		 age:
	34.7,
 races:
	Asian         5
Black       110
Hispanic     78
Indian        7
None         18
White       587
p             2
Name: Race, dtype: int64,
 sexes:
	F    186
M    621
Name: Sex, dtype: int64
 avg bonds:
	49971.63


====BOND====

bond group: Bond <= $1,000
 avg age:
	35.1,
 races:
Asian        1
Black       14
Hispanic     4
Indian       3
White       51
Name: Race, dtype: int64,
 sexes:
F     8
M    65
Name: Sex, dtype: int64
 avg bonds:
	768.02,
times:-1    73
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg age:
	35.1,
 races:
	Asian        1
Black       14
Hispanic     4
Indian       3
White       51
Name: Race, dtype: int64,
 sexes:
	F     8
M    65
Name: Sex, dtype: int64
 avg bonds:
	768.02,
times:
	-1    73
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====BOND====

bond group: Bond > $1,000
 avg age:
	34.7,
 races:
Asian         4
Black        96
Hispanic     74
Indian        4
None         18
White       536
p             2
Name: Race, dtype: int64,
 sexes:
F    178
M    556
Name: Sex, dtype: int64
 avg bonds:
	54865.17,
times:-1     733
 20      1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg age:
	34.7,
 races:
	Asian         4
Black        96
Hispanic     74
Indian        4
None         18
White       535
p             2
Name: Race, dtype: int64,
 sexes:
	F    177
M    556
Name: Sex, dtype: int64
 avg bonds:
	54937.98,
times:
	-1    733
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 avg age:
	28.0,
 races:
	White    1
Name: Race, dtype: int64,
 sexes:
	F    1
Name: Sex, dtype: int64
 avg bonds:
	1500.00,
times:
	20    1
Name: Duration_Jail, dtype: int64


====TIME ONLY====

time group: time <= 20 days
 avg age:
	28.0,
 races:
	White    1
Name: Race, dtype: int64,
 sexes:
	F    1
Name: Sex, dtype: int64
 avg bonds:
	1500.00


====TIME ONLY====

time group: time > 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan


====GROUP====


group: other
 avg age:
	34.5,
 races:
	Asian        15
Black       169
Hispanic    225
Indian        4
None         20
White       735
p            10
Name: Race, dtype: int64,
sexes:
	F       257
M       918
None      3
Name: Sex, dtype: int64
 avg bonds:
	1345.98


placeholder:
 age:
	34.5,
 races:
	Asian        14
Black       161
Hispanic    217
Indian        3
None         19
White       642
p             9
Name: Race, dtype: int64,
 sexes:
	F       236
M       827
None      2
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
		 age:
	34.5,
 races:
	Asian        1
Black        8
Hispanic     8
Indian       1
None         1
White       93
p            1
Name: Race, dtype: int64,
 sexes:
	F       21
M       91
None     1
Name: Sex, dtype: int64
 avg bonds:
	14031.58


====BOND====

bond group: Bond <= $1,000
 avg age:
	36.7,
 races:
Asian     1
None      1
White    28
Name: Race, dtype: int64,
 sexes:
F       11
M       18
None     1
Name: Sex, dtype: int64
 avg bonds:
	480.17,
times:-1    30
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg age:
	36.7,
 races:
	Asian     1
None      1
White    28
Name: Race, dtype: int64,
 sexes:
	F       11
M       18
None     1
Name: Sex, dtype: int64
 avg bonds:
	480.17,
times:
	-1    30
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====BOND====

bond group: Bond > $1,000
 avg age:
	33.7,
 races:
Black        8
Hispanic     8
Indian       1
White       65
p            1
Name: Race, dtype: int64,
 sexes:
F    10
M    73
Name: Sex, dtype: int64
 avg bonds:
	18929.68,
times:-1      82
 224     1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg age:
	33.8,
 races:
	Black        8
Hispanic     8
Indian       1
White       64
p            1
Name: Race, dtype: int64,
 sexes:
	F     9
M    73
Name: Sex, dtype: int64
 avg bonds:
	19099.55,
times:
	-1    82
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 avg age:
	29.0,
 races:
	White    1
Name: Race, dtype: int64,
 sexes:
	F    1
Name: Sex, dtype: int64
 avg bonds:
	5000.00,
times:
	224    1
Name: Duration_Jail, dtype: int64


====TIME ONLY====

time group: time <= 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan


====TIME ONLY====

time group: time > 20 days
 avg age:
	29.0,
 races:
	White    1
Name: Race, dtype: int64,
 sexes:
	F    1
Name: Sex, dtype: int64
 avg bonds:
	5000.00


====GROUP====


group: drug
 avg age:
	35.5,
 races:
	Black       144
Hispanic    102
Indian        4
None          3
White       680
p             5
Name: Race, dtype: int64,
sexes:
	F       235
M       701
None      2
Name: Sex, dtype: int64
 avg bonds:
	2958.19


placeholder:
 age:
	35.6,
 races:
	Black       112
Hispanic     73
Indian        3
None          2
White       465
p             2
Name: Race, dtype: int64,
 sexes:
	F       168
M       488
None      1
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
		 age:
	35.3,
 races:
	Black        32
Hispanic     29
Indian        1
None          1
White       215
p             3
Name: Race, dtype: int64,
 sexes:
	F        67
M       213
None      1
Name: Sex, dtype: int64
 avg bonds:
	9874.66


====BOND====

bond group: Bond <= $1,000
 avg age:
	46.6,
 races:
Hispanic    3
White       5
Name: Race, dtype: int64,
 sexes:
F    3
M    5
Name: Sex, dtype: int64
 avg bonds:
	1000.00,
times:-1    8
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg age:
	46.6,
 races:
	Hispanic    3
White       5
Name: Race, dtype: int64,
 sexes:
	F    3
M    5
Name: Sex, dtype: int64
 avg bonds:
	1000.00,
times:
	-1    8
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====BOND====

bond group: Bond > $1,000
 avg age:
	35.0,
 races:
Black        32
Hispanic     26
Indian        1
None          1
White       210
p             3
Name: Race, dtype: int64,
 sexes:
F        64
M       208
None      1
Name: Sex, dtype: int64
 avg bonds:
	10134.73,
times:-1    273
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg age:
	35.0,
 races:
	Black        32
Hispanic     26
Indian        1
None          1
White       210
p             3
Name: Race, dtype: int64,
 sexes:
	F        64
M       208
None      1
Name: Sex, dtype: int64
 avg bonds:
	10134.73,
times:
	-1    273
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====TIME ONLY====

time group: time <= 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan


====TIME ONLY====

time group: time > 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan


====GROUP====


group: property
 avg age:
	32.4,
 races:
	Asian         2
Black       125
Hispanic     51
None          6
White       378
Name: Race, dtype: int64,
sexes:
	F        94
M       466
None      2
Name: Sex, dtype: int64
 avg bonds:
	2769.40


placeholder:
 age:
	32.6,
 races:
	Asian         2
Black        87
Hispanic     32
None          2
White       270
Name: Race, dtype: int64,
 sexes:
	F        71
M       320
None      2
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
		 age:
	32.1,
 races:
	Black        38
Hispanic     19
None          4
White       108
Name: Race, dtype: int64,
 sexes:
	F     23
M    146
Name: Sex, dtype: int64
 avg bonds:
	9209.48


====BOND====

bond group: Bond <= $1,000
 avg age:
	37.8,
 races:
None     2
White    6
Name: Race, dtype: int64,
 sexes:
F    3
M    5
Name: Sex, dtype: int64
 avg bonds:
	520.00,
times:-1    8
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg age:
	37.8,
 races:
	None     2
White    6
Name: Race, dtype: int64,
 sexes:
	F    3
M    5
Name: Sex, dtype: int64
 avg bonds:
	520.00,
times:
	-1    8
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====BOND====

bond group: Bond > $1,000
 avg age:
	31.9,
 races:
Black        38
Hispanic     19
None          2
White       102
Name: Race, dtype: int64,
 sexes:
F     20
M    141
Name: Sex, dtype: int64
 avg bonds:
	9641.25,
times:-1    161
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg age:
	31.9,
 races:
	Black        38
Hispanic     19
None          2
White       102
Name: Race, dtype: int64,
 sexes:
	F     20
M    141
Name: Sex, dtype: int64
 avg bonds:
	9641.25,
times:
	-1    161
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====TIME ONLY====

time group: time <= 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan


====TIME ONLY====

time group: time > 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan


====GROUP====


group: violent
 avg age:
	33.0,
 races:
	Asian         9
Black       153
Hispanic     89
None         12
White       389
p             6
Name: Race, dtype: int64,
sexes:
	F        51
M       606
None      1
Name: Sex, dtype: int64
 avg bonds:
	24594.96


placeholder:
 age:
	32.2,
 races:
	Asian         6
Black       111
Hispanic     52
None          6
White       235
p             3
Name: Race, dtype: int64,
 sexes:
	F        32
M       380
None      1
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
		 age:
	34.3,
 races:
	Asian         3
Black        42
Hispanic     37
None          6
White       154
p             3
Name: Race, dtype: int64,
 sexes:
	F     19
M    226
Name: Sex, dtype: int64
 avg bonds:
	66055.04


====BOND====

bond group: Bond <= $1,000
 avg age:
	27.5,
 races:
Black    2
White    9
Name: Race, dtype: int64,
 sexes:
M    11
Name: Sex, dtype: int64
 avg bonds:
	680.45,
times:-1    11
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg age:
	27.5,
 races:
	Black    2
White    9
Name: Race, dtype: int64,
 sexes:
	M    11
Name: Sex, dtype: int64
 avg bonds:
	680.45,
times:
	-1    11
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====BOND====

bond group: Bond > $1,000
 avg age:
	34.7,
 races:
Asian         3
Black        40
Hispanic     37
None          6
White       145
p             3
Name: Race, dtype: int64,
 sexes:
F     19
M    215
Name: Sex, dtype: int64
 avg bonds:
	69128.21,
times:-1    234
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg age:
	34.7,
 races:
	Asian         3
Black        40
Hispanic     37
None          6
White       145
p             3
Name: Race, dtype: int64,
 sexes:
	F     19
M    215
Name: Sex, dtype: int64
 avg bonds:
	69128.21,
times:
	-1    234
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan,
times:
	Series([], Name: Duration_Jail, dtype: int64)


====TIME ONLY====

time group: time <= 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan


====TIME ONLY====

time group: time > 20 days
 avg age:
	nan,
 races:
	Series([], Name: Race, dtype: int64),
 sexes:
	Series([], Name: Sex, dtype: int64)
 avg bonds:
	nan

In [167]:
# mapping of state-level unique charges to BJS codes
# 2. Louisiana
file = "../../code_maps/louisiana_map.csv"
LA_code_map = pd.read_csv(os.path.join(os.path.dirname('__file__'),file), \
                                     index_col=0, header=None, usecols=[1])

LA_charge_BJS_code_map = list(LA_code_map.index[1:])

# enter BJS code as values
charge_list_LA = list(map(lambda x: str(x),dfLouisianaCleaned.Charge.unique()))
LA_charge_code = dict() # state charge desc to BJS code
for charge, label in zip(charge_list_LA, LA_charge_BJS_code_map):
    if label == '0':
        label = 999 # other
    if isinstance(charge,str):
        charge = charge.lower()
    LA_charge_code[charge] = int(label)

# run through actual data (cleaned) to map to code
data = dfLouisianaCleaned.Charge.str.lower()
LA_code_categ = dict()
count = 0

# BJS Broad Category dicts to store row indices
BJS_broad_categ_dict = dict()
for idx,charge in enumerate(data):
    if charge in list(LA_charge_code.keys()):
        count += 1
        foundIdx = list(LA_charge_code.keys()).index(charge)
        LA_code =  list(LA_charge_code.values())[foundIdx]
        LA_categ = bjs_dict.get(LA_code)
        if LA_categ is None:
            LA_categ = 'other'
        # keep counter
        # and store indices to the BJS Broad Category dicts
        if LA_categ in LA_code_categ:
            LA_code_categ[LA_categ] += 1
        else:
            LA_code_categ[LA_categ] = 1
            BJS_broad_categ_dict[LA_categ] = []
        BJS_broad_categ_dict[LA_categ].append(idx)
            
# print('ex:',BJS_broad_categ_dict['violent'][0:5])
print("Louisiana stats: %s" % LA_code_categ)

# groups = ['violent','public order','drug','property','other']
for i, group in enumerate(LA_code_categ):
    print('\n\n====GROUP====')
    idx = BJS_broad_categ_dict[group]
    dfLouisiana = dfLouisianaCleaned.iloc[idx,:]
    dfLouisiana.to_csv('./cleaned/LA_'+group+'.csv', index=False)
    # statistics by each BJS broad category for AR
    races = dfLouisiana['Race'].value_counts().sort_index()
    sexes = dfLouisiana['Sex'].value_counts().sort_index()
    bonds = dfLouisiana['Bond'].mean()
    print(f'\n\ngroup: {group} \n races: \n\t{races}, \n sexes: \n\t{sexes}'+ \
         f'\n avg bonds: \n\t{bonds:.2f}')
    
    # break into placeholder and nontrivial dataframes
    mask = dfLouisiana['Bond'] == 0
    placeholder_df = dfLouisiana[mask]
    races = placeholder_df['Race'].value_counts().sort_index()
    sexes = placeholder_df['Sex'].value_counts().sort_index()
    bonds = placeholder_df['Bond'].mean()
    print(f'\n\nplaceholder: \n races: \n\t{races}, \n sexes: \n\t{sexes}'+ \
         f'\n avg bonds: \n\t{bonds:.2f}')
    
    nontrivial_df = dfLouisiana[~mask]
    races = nontrivial_df['Race'].value_counts().sort_index()
    sexes = nontrivial_df['Sex'].value_counts().sort_index()
    bonds = nontrivial_df['Bond'].mean()
    print(f'\n\nmeaningful: \n races: {races}, \n sexes: \n\t{sexes}'+ \
         f'\n avg bonds: \n\t{bonds:.2f}')
    
    # Bond breakdown on nontrivial df
    mask = nontrivial_df['Bond'] <= 1000
    bondGroupLA1 = nontrivial_df[mask]
    bondGroupLA2 = nontrivial_df[~mask]


    for i, dfLAgroup in enumerate([bondGroupLA1, bondGroupLA2]):
        print('\n\n====BOND====')
        if i == 0:
            group = 'Bond <= $1,000'
        elif i == 1:
            group = 'Bond > $1,000'
        races = dfLAgroup['Race'].value_counts().sort_index()
        sexes = dfLAgroup['Sex'].value_counts().sort_index()
        bonds = dfLAgroup['Bond'].mean()
        times = dfLAgroup['Duration_Jail'].value_counts().sort_index()
        print(f'\nbond group: {group} \n races: \n\t{races}, \n sexes:\n\t{sexes} \
                \n\ avg bonds: \n\t{bonds:.2f}, \ntimes:\n\t{times}')
        
        # bond and time
        print('\n\n====BOND AND TIME====')
        mask1 = dfLAgroup['Duration_Jail'] != -1
        mask = (dfLAgroup['Duration_Jail'] <= 20 ) & mask1
        
        dfLAgroupBondTime1 = dfLAgroup[mask]
        races = dfLAgroupBondTime1['Race'].value_counts().sort_index()
        sexes = dfLAgroupBondTime1['Sex'].value_counts().sort_index()
        bonds = dfLAgroupBondTime1['Bond'].mean()
        times = dfLAgroupBondTime1['Duration_Jail'].value_counts()
        print(f'\nbond: {group}, time: <= 20 \n races: \n\t{races}, \n sexes:\n\t{sexes} \
                \n avg bonds: \n\t{bonds:.2f}, \ntimes:\n\t{times}')
        
        dfLAgroupBondTime2 = dfLAgroup[~mask & mask1]
        races = dfLAgroupBondTime2['Race'].value_counts().sort_index()
        sexes = dfLAgroupBondTime2['Sex'].value_counts().sort_index()
        bonds = dfLAgroupBondTime2['Bond'].mean()
        times = dfLAgroupBondTime2['Duration_Jail'].value_counts().sort_index()
        print(f'\nbond: {group}, time: > 20 \n races: \n\t{races}, \n sexes:\n\t{sexes} \
                \n avg bonds: \n\t{bonds:.2f}, \ntimes:\n\t{times}')
        
    # Time breakdown on nontrivial df
    print('\n\n====TIME ONLY====')
    mask1 = nontrivial_df['Duration_Jail'] != -1
    dfLouisianaCleanedTime = nontrivial_df[mask1]
    
    mask = dfLouisianaCleanedTime['Duration_Jail'] <= 20
    timeGroupLA1 = dfLouisianaCleanedTime[mask]
    timeGroupLA2 = dfLouisianaCleanedTime[~mask]

    for i, dfLAgroup in enumerate([timeGroupLA1, timeGroupLA2]):
        if i == 0:
            group = 'time <= 20 days'
        elif i == 1:
            group = 'time > 20 days'

        races = dfLAgroup['Race'].value_counts()
        sexes = dfLAgroup['Sex'].value_counts()
        bonds = dfLAgroup['Bond'].mean()
        times = dfLAgroup['Duration_Jail'].value_counts()

        print(f'\ntime group: {group} \n\n races: \n\t{races}, \
                \n\n sexes:\n\t{sexes} \n\n avg bonds: \n\t{bonds:.2f}')

Louisiana stats: {'property': 10059, 'other': 4105, 'violent': 16221, 'public order': 16413, 'drug': 1547}


====GROUP====


group: property
 races:
	Asian         14
Black       7922
Hispanic     103
None          67
White       1953
Name: Race, dtype: int64,
 sexes:
	F    1202
M    8857
Name: Sex, dtype: int64
 avg bonds:
	7661.00


placeholder:
 races:
	Asian          3
Black       6083
Hispanic      66
None          65
White       1458
Name: Race, dtype: int64,
 sexes:
	F     873
M    6802
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
 races: Asian         11
Black       1839
Hispanic      37
None           2
White        495
Name: Race, dtype: int64,
 sexes:
	F     329
M    2055
Name: Sex, dtype: int64
 avg bonds:
	32324.66


====BOND====

bond group: Bond <= $1,000
 races:
	Black    190
White     33
Name: Race, dtype: int64,
 sexes:
	F     76
M    147
Name: Sex, dtype: int64
\ avg bonds:
	573.71,
times:
	-1     187
 0       4
 1       1
 3       1
 4       3
 5       5
 6       7
 7       2
 8       2
 9       2
 10      1
 11      2
 12      2
 15      1
 19      1
 25      1
 59      1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 races:
	Black    30
White     4
Name: Race, dtype: int64,
 sexes:
	F    18
M    16
Name: Sex, dtype: int64
 avg bonds:
	602.94,
times:
	6     7
5     5
0     4
4     3
12    2
11    2
9     2
8     2
7     2
19    1
15    1
10    1
3     1
1     1
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 races:
	Black    2
Name: Race, dtype: int64,
 sexes:
	M    2
Name: Sex, dtype: int64
 avg bonds:
	750.00,
times:
	25    1
59    1
Name: Duration_Jail, dtype: int64


====BOND====

bond group: Bond > $1,000
 races:
	Asian         11
Black       1649
Hispanic      37
None           2
White        462
Name: Race, dtype: int64,
 sexes:
	F     253
M    1908
Name: Sex, dtype: int64
\ avg bonds:
	35601.13,
times:
	-1      1944
 0        61
 1        27
 2        21
 3        12
 4         8
 5         5
 6         7
 7         2
 8         4
 9         8
 10        6
 11        2
 12        2
 14        2
 15        3
 20        1
 21        2
 22        1
 23        3
 25        5
 27        1
 28        2
 32        2
 33        1
 34        1
 35        1
 42        1
 48        3
 49        2
 50        1
 51        1
 66        1
 81        1
 84        2
 86        1
 90        1
 91        2
 92        1
 93        1
 117       1
 128       2
 162       2
 164       1
 278       1
 655       1
 709       1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 races:
	Asian      1
Black    123
None       2
White     45
Name: Race, dtype: int64,
 sexes:
	F     41
M    130
Name: Sex, dtype: int64
 avg bonds:
	10001.40,
times:
	0     61
1     27
2     21
3     12
9      8
4      8
6      7
10     6
5      5
8      4
15     3
14     2
12     2
11     2
7      2
20     1
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 races:
	Black    34
White    12
Name: Race, dtype: int64,
 sexes:
	F     1
M    45
Name: Sex, dtype: int64
 avg bonds:
	26978.26,
times:
	21     2
22     1
23     3
25     5
27     1
28     2
32     2
33     1
34     1
35     1
42     1
48     3
49     2
50     1
51     1
66     1
81     1
84     2
86     1
90     1
91     2
92     1
93     1
117    1
128    2
162    2
164    1
278    1
655    1
709    1
Name: Duration_Jail, dtype: int64


====TIME ONLY====

time group: time <= 20 days

 races:
	Black    153
White     49
None       2
Asian      1
Name: Race, dtype: int64,

 sexes:
	M    146
F     59
Name: Sex, dtype: int64

 avg bonds:
	8442.63

time group: time > 20 days

 races:
	Black    36
White    12
Name: Race, dtype: int64,

 sexes:
	M    47
F     1
Name: Sex, dtype: int64

 avg bonds:
	25885.42


====GROUP====


group: other
 races:
	Asian         15
Black       3376
Hispanic      70
None          24
White        620
Name: Race, dtype: int64,
 sexes:
	F     462
M    3643
Name: Sex, dtype: int64
 avg bonds:
	9571.80


placeholder:
 races:
	Asian         13
Black       2535
Hispanic      66
None          14
White        471
Name: Race, dtype: int64,
 sexes:
	F     332
M    2767
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
 races: Asian         2
Black       841
Hispanic      4
None         10
White       149
Name: Race, dtype: int64,
 sexes:
	F    130
M    876
Name: Sex, dtype: int64
 avg bonds:
	39057.90


====BOND====

bond group: Bond <= $1,000
 races:
	Black    221
White     29
Name: Race, dtype: int64,
 sexes:
	F     55
M    195
Name: Sex, dtype: int64
\ avg bonds:
	523.85,
times:
	-1      210
 0        3
 1        4
 2        3
 3        3
 4        3
 5        1
 6        7
 7        1
 9        2
 10       1
 14       3
 15       1
 21       3
 22       1
 26       1
 32       1
 45       1
 100      1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 races:
	Black    31
White     1
Name: Race, dtype: int64,
 sexes:
	F     9
M    23
Name: Sex, dtype: int64
 avg bonds:
	498.44,
times:
	6     7
1     4
14    3
4     3
3     3
2     3
0     3
9     2
15    1
10    1
7     1
5     1
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 races:
	Black    8
Name: Race, dtype: int64,
 sexes:
	M    8
Name: Sex, dtype: int64
 avg bonds:
	650.00,
times:
	21     3
22     1
26     1
32     1
45     1
100    1
Name: Duration_Jail, dtype: int64


====BOND====

bond group: Bond > $1,000
 races:
	Asian         2
Black       620
Hispanic      4
None         10
White       120
Name: Race, dtype: int64,
 sexes:
	F     75
M    681
Name: Sex, dtype: int64
\ avg bonds:
	51800.63,
times:
	-1      672
 0       21
 1       24
 2        5
 3        3
 4        1
 5        2
 6        2
 7        4
 9        2
 10       1
 14       1
 20       1
 24       2
 26       1
 28       1
 29       1
 43       2
 52       1
 63       1
 70       1
 79       1
 80       1
 88       1
 123      2
 150      1
 207      1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 races:
	Asian     2
Black    56
White     9
Name: Race, dtype: int64,
 sexes:
	F    10
M    57
Name: Sex, dtype: int64
 avg bonds:
	19819.10,
times:
	1     24
0     21
2      5
7      4
3      3
9      2
6      2
5      2
20     1
14     1
10     1
4      1
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 races:
	Black    14
White     3
Name: Race, dtype: int64,
 sexes:
	F     2
M    15
Name: Sex, dtype: int64
 avg bonds:
	20911.76,
times:
	24     2
26     1
28     1
29     1
43     2
52     1
63     1
70     1
79     1
80     1
88     1
123    2
150    1
207    1
Name: Duration_Jail, dtype: int64


====TIME ONLY====

time group: time <= 20 days

 races:
	Black    87
White    10
Asian     2
Name: Race, dtype: int64,

 sexes:
	M    80
F    19
Name: Sex, dtype: int64

 avg bonds:
	13574.04

time group: time > 20 days

 races:
	Black    22
White     3
Name: Race, dtype: int64,

 sexes:
	M    23
F     2
Name: Sex, dtype: int64

 avg bonds:
	14428.00


====GROUP====


group: violent
 races:
	Asian          18
Black       12908
Hispanic      210
None           70
White        3015
Name: Race, dtype: int64,
 sexes:
	F     2528
M    13693
Name: Sex, dtype: int64
 avg bonds:
	4587.01


placeholder:
 races:
	Asian          16
Black       10634
Hispanic      184
None           53
White        2408
Name: Race, dtype: int64,
 sexes:
	F     1975
M    11320
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
 races: Asian          2
Black       2274
Hispanic      26
None          17
White        607
Name: Race, dtype: int64,
 sexes:
	F     553
M    2373
Name: Sex, dtype: int64
 avg bonds:
	25429.22


====BOND====

bond group: Bond <= $1,000
 races:
	Black       727
Hispanic      2
None          1
White       165
Name: Race, dtype: int64,
 sexes:
	F    236
M    659
Name: Sex, dtype: int64
\ avg bonds:
	554.91,
times:
	-1     743
 0      11
 1      14
 2      10
 3      19
 4       7
 5      15
 6       8
 7       7
 8       7
 9       8
 10      2
 11      7
 12      1
 13      1
 14      3
 15      1
 16      8
 18      3
 19      1
 24      4
 25      2
 27      1
 30      2
 33      1
 34      1
 38      1
 39      2
 54      1
 67      2
 74      2
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 races:
	Black    114
None       1
White     18
Name: Race, dtype: int64,
 sexes:
	F    46
M    87
Name: Sex, dtype: int64
 avg bonds:
	556.81,
times:
	3     19
5     15
1     14
0     11
2     10
6      8
9      8
16     8
11     7
8      7
7      7
4      7
18     3
14     3
10     2
12     1
13     1
15     1
19     1
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 races:
	Black    18
White     1
Name: Race, dtype: int64,
 sexes:
	F     6
M    13
Name: Sex, dtype: int64
 avg bonds:
	571.05,
times:
	24    4
25    2
27    1
30    2
33    1
34    1
38    1
39    2
54    1
67    2
74    2
Name: Duration_Jail, dtype: int64


====BOND====

bond group: Bond > $1,000
 races:
	Asian          2
Black       1547
Hispanic      24
None          16
White        442
Name: Race, dtype: int64,
 sexes:
	F     317
M    1714
Name: Sex, dtype: int64
\ avg bonds:
	36390.57,
times:
	-1      1810
 0        41
 1        46
 2        21
 3        14
 4         5
 5        17
 6         2
 7         4
 8         5
 9         2
 10        8
 11        1
 12        2
 13        3
 14        1
 15        2
 16        1
 17        2
 18        1
 19        2
 21        5
 23        1
 24        2
 25        1
 28        1
 31        1
 33        1
 37        1
 39        2
 43        1
 45        2
 49        1
 50        1
 53        1
 55        1
 57        2
 59        1
 61        2
 63        1
 66        1
 67        1
 70        1
 92        2
 93        1
 101       3
 130       2
 226       1
 863       1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 races:
	Asian         1
Black       124
Hispanic      3
None          2
White        50
Name: Race, dtype: int64,
 sexes:
	F     58
M    122
Name: Sex, dtype: int64
 avg bonds:
	6479.12,
times:
	1     46
0     41
2     21
5     17
3     14
10     8
8      5
4      5
7      4
13     3
6      2
19     2
12     2
15     2
17     2
9      2
18     1
11     1
14     1
16     1
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 races:
	Black       32
Hispanic     2
White        7
Name: Race, dtype: int64,
 sexes:
	F     2
M    39
Name: Sex, dtype: int64
 avg bonds:
	14009.00,
times:
	21     5
23     1
24     2
25     1
28     1
31     1
33     1
37     1
39     2
43     1
45     2
49     1
50     1
53     1
55     1
57     2
59     1
61     2
63     1
66     1
67     1
70     1
92     2
93     1
101    3
130    2
226    1
863    1
Name: Duration_Jail, dtype: int64


====TIME ONLY====

time group: time <= 20 days

 races:
	Black       238
White        68
None          3
Hispanic      3
Asian         1
Name: Race, dtype: int64,

 sexes:
	M    209
F    104
Name: Sex, dtype: int64

 avg bonds:
	3962.61

time group: time > 20 days

 races:
	Black       50
White        8
Hispanic     2
Name: Race, dtype: int64,

 sexes:
	M    52
F     8
Name: Sex, dtype: int64

 avg bonds:
	9753.65


====GROUP====


group: public order
 races:
	Asian          11
Black       13221
Hispanic      412
None          134
White        2635
Name: Race, dtype: int64,
 sexes:
	F     1878
M    14535
Name: Sex, dtype: int64
 avg bonds:
	29989.47


placeholder:
 races:
	Asian          9
Black       9263
Hispanic     286
None         117
White       1963
Name: Race, dtype: int64,
 sexes:
	F     1327
M    10311
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
 races: Asian          2
Black       3958
Hispanic     126
None          17
White        672
Name: Race, dtype: int64,
 sexes:
	F     551
M    4224
Name: Sex, dtype: int64
 avg bonds:
	103082.13


====BOND====

bond group: Bond <= $1,000
 races:
	Black       317
Hispanic      1
White       108
Name: Race, dtype: int64,
 sexes:
	F    148
M    278
Name: Sex, dtype: int64
\ avg bonds:
	585.25,
times:
	-1     339
 0      17
 1       5
 2       6
 3       6
 4       3
 5       6
 6       5
 7       1
 8       5
 9       7
 10      1
 11      5
 12      1
 14      2
 15      3
 16      2
 18      6
 24      2
 25      1
 26      1
 30      1
 32      1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 races:
	Black    67
White    14
Name: Race, dtype: int64,
 sexes:
	F    29
M    52
Name: Sex, dtype: int64
 avg bonds:
	504.69,
times:
	0     17
9      7
2      6
3      6
5      6
18     6
11     5
6      5
1      5
8      5
4      3
15     3
16     2
14     2
10     1
7      1
12     1
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 races:
	Black    5
White    1
Name: Race, dtype: int64,
 sexes:
	M    6
Name: Sex, dtype: int64
 avg bonds:
	750.00,
times:
	24    2
25    1
26    1
30    1
32    1
Name: Duration_Jail, dtype: int64


====BOND====

bond group: Bond > $1,000
 races:
	Asian          2
Black       3641
Hispanic     125
None          17
White        564
Name: Race, dtype: int64,
 sexes:
	F     403
M    3946
Name: Sex, dtype: int64
\ avg bonds:
	113122.06,
times:
	-1      4126
 0        64
 1        42
 2        14
 3        11
 4        11
 5         7
 6         3
 7         2
 8         1
 9         1
 10        2
 11        2
 12        3
 13        1
 15        3
 16        2
 17        4
 18        1
 20        1
 22        2
 24        1
 26        1
 27        2
 28        1
 30        2
 33        1
 37        1
 38        1
 39        2
 43        2
 56        2
 60        1
 65        1
 70        1
 77        1
 90        1
 92        1
 94        1
 98        2
 102       1
 117       1
 118       1
 143       1
 149       1
 152       2
 154       1
 175       1
 178       1
 235       1
 280       1
 308       2
 409       1
 623       1
 690       1
 730       2
 856       1
 863       1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 races:
	Asian         1
Black       139
Hispanic      1
None          3
White        31
Name: Race, dtype: int64,
 sexes:
	F     65
M    110
Name: Sex, dtype: int64
 avg bonds:
	11434.69,
times:
	0     64
1     42
2     14
4     11
3     11
5      7
17     4
15     3
12     3
6      3
16     2
11     2
10     2
7      2
20     1
8      1
18     1
13     1
9      1
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 races:
	Black       36
Hispanic     1
White       11
Name: Race, dtype: int64,
 sexes:
	F    11
M    37
Name: Sex, dtype: int64
 avg bonds:
	54864.58,
times:
	22     2
24     1
26     1
27     2
28     1
30     2
33     1
37     1
38     1
39     2
43     2
56     2
60     1
65     1
70     1
77     1
90     1
92     1
94     1
98     2
102    1
117    1
118    1
143    1
149    1
152    2
154    1
175    1
178    1
235    1
280    1
308    2
409    1
623    1
690    1
730    2
856    1
863    1
Name: Duration_Jail, dtype: int64


====TIME ONLY====

time group: time <= 20 days

 races:
	Black       206
White        45
None          3
Asian         1
Hispanic      1
Name: Race, dtype: int64,

 sexes:
	M    162
F     94
Name: Sex, dtype: int64

 avg bonds:
	7976.37

time group: time > 20 days

 races:
	Black       41
White       12
Hispanic     1
Name: Race, dtype: int64,

 sexes:
	M    43
F    11
Name: Sex, dtype: int64

 avg bonds:
	48851.85


====GROUP====


group: drug
 races:
	Black       1287
Hispanic      47
None          12
White        201
Name: Race, dtype: int64,
 sexes:
	F     264
M    1283
Name: Sex, dtype: int64
 avg bonds:
	2732.31


placeholder:
 races:
	Black       1051
Hispanic      14
None           8
White        143
Name: Race, dtype: int64,
 sexes:
	F     188
M    1028
Name: Sex, dtype: int64
 avg bonds:
	0.00


meaningful:
 races: Black       236
Hispanic     33
None          4
White        58
Name: Race, dtype: int64,
 sexes:
	F     76
M    255
Name: Sex, dtype: int64
 avg bonds:
	12770.05


====BOND====

bond group: Bond <= $1,000
 races:
	Black    99
None      4
White    38
Name: Race, dtype: int64,
 sexes:
	F     36
M    105
Name: Sex, dtype: int64
\ avg bonds:
	654.08,
times:
	-1     112
 3       7
 4       3
 5       1
 6       3
 7       3
 8       1
 9       3
 10      1
 14      2
 16      1
 17      1
 18      2
 32      1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 races:
	Black    19
None      4
White     5
Name: Race, dtype: int64,
 sexes:
	F     3
M    25
Name: Sex, dtype: int64
 avg bonds:
	648.21,
times:
	3     7
9     3
7     3
6     3
4     3
18    2
14    2
17    1
16    1
10    1
8     1
5     1
Name: Duration_Jail, dtype: int64

bond: Bond <= $1,000, time: > 20
 races:
	Black    1
Name: Race, dtype: int64,
 sexes:
	M    1
Name: Sex, dtype: int64
 avg bonds:
	600.00,
times:
	32    1
Name: Duration_Jail, dtype: int64


====BOND====

bond group: Bond > $1,000
 races:
	Black       137
Hispanic     33
White        20
Name: Race, dtype: int64,
 sexes:
	F     40
M    150
Name: Sex, dtype: int64
\ avg bonds:
	21761.37,
times:
	-1      156
 0       12
 1        4
 2        2
 3        1
 5        2
 9        4
 10       2
 12       2
 13       3
 22       1
 103      1
Name: Duration_Jail, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 races:
	Black    21
White    11
Name: Race, dtype: int64,
 sexes:
	F     5
M    27
Name: Sex, dtype: int64
 avg bonds:
	4672.19,
times:
	0     12
9      4
1      4
13     3
12     2
10     2
5      2
2      2
3      1
Name: Duration_Jail, dtype: int64

bond: Bond > $1,000, time: > 20
 races:
	Black    1
White    1
Name: Race, dtype: int64,
 sexes:
	M    2
Name: Sex, dtype: int64
 avg bonds:
	2575.00,
times:
	22     1
103    1
Name: Duration_Jail, dtype: int64


====TIME ONLY====

time group: time <= 20 days

 races:
	Black    40
White    16
None      4
Name: Race, dtype: int64,

 sexes:
	M    52
F     8
Name: Sex, dtype: int64

 avg bonds:
	2794.33

time group: time > 20 days

 races:
	Black    2
White    1
Name: Race, dtype: int64,

 sexes:
	M    3
Name: Sex, dtype: int64

 avg bonds:
	1916.67

In [168]:
# mapping of state-level unique charges to BJS codes
# 3. Michigan
file = "../../code_maps/michigan_map.csv"
MI_code_map = pd.read_csv(os.path.join(os.path.dirname('__file__'),file), \
                                     index_col=0, header=None, usecols=[1])
# if duration_jail expected == 0, it is empty value
MI_charge_BJS_code_map = list(MI_code_map.index[1:])

# enter BJS code as values
charge_list_MI = list(map(lambda x: str(x),dfMichiganCleaned.Charge.unique()))
MI_charge_code = dict() # state charge desc to BJS code
for charge, label in zip(charge_list_MI, MI_charge_BJS_code_map):
    if label == '0':
        label = 999 # other
    if isinstance(charge,str):
        charge = charge.lower()
    MI_charge_code[charge] = int(label)

# run through actual data (cleaned) to map to code
data = dfMichiganCleaned.Charge.str.lower()
MI_code_categ = dict()
count = 0

# BJS Broad Category dicts to store row indices
BJS_broad_categ_dict = dict()
for idx,charge in enumerate(data):
    if charge in list(MI_charge_code.keys()):
        count += 1
        foundIdx = list(MI_charge_code.keys()).index(charge)
        MI_code =  list(MI_charge_code.values())[foundIdx]
        MI_categ = bjs_dict.get(MI_code)
        if MI_categ is None:
            MI_categ = 'other'
        # keep counter
        # and store indices to the BJS Broad Category dicts
        if MI_categ in MI_code_categ:
            MI_code_categ[MI_categ] += 1
        else:
            MI_code_categ[MI_categ] = 1
            BJS_broad_categ_dict[MI_categ] = []
        BJS_broad_categ_dict[MI_categ].append(idx)
            
# print('ex:',BJS_broad_categ_dict['violent'][0:5])
print("Michigan stats: %s" % MI_code_categ)

# groups = ['violent','public order','drug','property','other']
for i, group in enumerate(MI_code_categ):
    print('\n\n====GROUP====')
    idx = BJS_broad_categ_dict[group]
    dfMichigan = dfMichiganCleaned.iloc[idx,:]
    print(group)
    dfMichigan.to_csv('./cleaned/MI_'+group+'.csv', index=False)
    # statistics by each BJS broad category for AR
    
    bonds = dfMichigan['Bond'].mean()
    print(f'\n\ngroup: {group} \n avg bonds: \n\t{bonds:.2f}')
    
    # break into placeholder and nontrivial dataframes
    mask = dfMichigan['Bond'] == 0
    placeholder_df = dfMichigan[mask]
    bonds = placeholder_df['Bond'].mean()
    print(f'\n\placeholder: \n avg bonds: \n\t{bonds:.2f}')
    
    nontrivial_df = dfMichigan[~mask]
    bonds = nontrivial_df['Bond'].mean()
    print(f'\n\nmeaningful: \n avg bonds: \n\t{bonds:.2f}')
    
    # Bond breakdown on nontrivial df
    mask = nontrivial_df['Bond'] <= 1000
    bondGroupMI1 = nontrivial_df[mask]
    bondGroupMI2 = nontrivial_df[~mask]

    for i, dfMIgroup in enumerate([bondGroupMI1, bondGroupMI2]):
        print('\n\n====BOND====')
        if i == 0:
            group = 'Bond <= $1,000'
        elif i == 1:
            group = 'Bond > $1,000'
        bonds = dfMIgroup['Bond'].mean()
        times = dfMIgroup['Duration_JailExp'].value_counts().sort_index()
        print(f'\nbond group: {group} \n avg bonds: \n\t{bonds:.2f}, \ntimes: \n\t{times}')
        
        # bond and time
        print('\n\n====BOND AND TIME====')
        mask1 = dfMIgroup['Duration_JailExp'] != -1
        mask = (dfMIgroup['Duration_JailExp'] <= 20 ) & mask1
        
        dfMIgroupBondTime1 = dfMIgroup[mask]
        bonds = dfMIgroupBondTime1['Bond'].mean()
        times = dfMIgroupBondTime1['Duration_JailExp'].value_counts().sort_index()
        print(f'\nbond: {group}, time: <= 20 \n avg bonds: \n\t{bonds:.2f}, \ntimes:\n\t{times}')
        
        dfMIgroupBondTime2 = dfMIgroup[~mask & mask1]
        bonds = dfMIgroupBondTime2['Bond'].mean()
        times = dfMIgroupBondTime2['Duration_JailExp'].value_counts().sort_index()
        print(f'\nbond: {group}, time: > 20 \n avg bonds: \n\t{bonds:.2f}, \ntimes: \n\t{times}')
        
    # Time breakdown on nontrivial df
    print('\n\n====TIME ONLY (Expected)====')
    mask1 = nontrivial_df['Duration_JailExp'] != -1
    dfMichiganCleanedTime = nontrivial_df[mask1]
    
    mask = dfMichiganCleanedTime['Duration_JailExp'] <= 20
    timeGroupMI1 = dfMichiganCleanedTime[mask]
    timeGroupMI2 = dfMichiganCleanedTime[~mask]

    for i, dfMIgroup in enumerate([timeGroupMI1, timeGroupMI2]):
        if i == 0:
            group = 'time <= 20 days'
        elif i == 1:
            group = 'time > 20 days'

        bonds = dfMIgroup['Bond'].mean()
        times = dfMIgroup['Duration_JailExp'].value_counts().sort_index()

        print(f'\ntime group: {group} \n\n avg bonds: \n\t{bonds:.2f}, \ntimes: \n\t{times}')

Michigan stats: {'violent': 6525, 'other': 4680, 'drug': 1611, 'public order': 10275, 'property': 3875}


====GROUP====
violent


group: violent
 avg bonds:
	47860.36

\placeholder:
 avg bonds:
	0.00


meaningful:
 avg bonds:
	60922.53


====BOND====

bond group: Bond <= $1,000
 avg bonds:
	515.84,
times:
	0      1611
5         9
20        2
25        4
28        4
30        1
40        1
45        2
60        6
90        5
93        5
120       7
150       4
180       3
240       2
270       4
300       4
360      10
365       5
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg bonds:
	507.25,
times:
	0     1611
5        9
20       2
Name: Duration_JailExp, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg bonds:
	723.88,
times:
	25      4
28      4
30      1
40      1
45      2
60      6
90      5
93      5
120     7
150     4
180     3
240     2
270     4
300     4
360    10
365     5
Name: Duration_JailExp, dtype: int64


====BOND====

bond group: Bond > $1,000
 avg bonds:
	90607.40,
times:
	0      3269
20        6
21        1
30        2
35        4
45        2
60        6
81        5
90       11
180       8
240       4
270      10
300      27
360      65
365      17
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg bonds:
	93537.06,
times:
	0     3269
20       6
Name: Duration_JailExp, dtype: int64

bond: Bond > $1,000, time: > 20
 avg bonds:
	31381.17,
times:
	21      1
30      2
35      4
45      2
60      6
81      5
90     11
180     8
240     4
270    10
300    27
360    65
365    17
Name: Duration_JailExp, dtype: int64


====TIME ONLY (Expected)====

time group: time <= 20 days

 avg bonds:
	62723.43,
times:
	0     4880
5        9
20       8
Name: Duration_JailExp, dtype: int64

time group: time > 20 days

 avg bonds:
	22411.57,
times:
	21      1
25      4
28      4
30      3
35      4
40      1
45      4
60     12
81      5
90     16
93      5
120     7
150     4
180    11
240     6
270    14
300    31
360    75
365    22
Name: Duration_JailExp, dtype: int64


====GROUP====
other


group: other
 avg bonds:
	9847.92

\placeholder:
 avg bonds:
	0.00


meaningful:
 avg bonds:
	11853.98


====BOND====

bond group: Bond <= $1,000
 avg bonds:
	380.46,
times:
	0      2452
10        5
11        1
14        1
15        2
16        1
20        9
26        1
30       14
40        1
45        6
50        4
60       17
76        2
87        4
90       46
93       11
120       5
178       3
180      19
210       4
360      10
365       4
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg bonds:
	367.43,
times:
	0     2452
10       5
11       1
14       1
15       2
16       1
20       9
Name: Duration_JailExp, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg bonds:
	593.71,
times:
	26      1
30     14
40      1
45      6
50      4
60     17
76      2
87      4
90     46
93     11
120     5
178     3
180    19
210     4
360    10
365     4
Name: Duration_JailExp, dtype: int64


====BOND====

bond group: Bond > $1,000
 avg bonds:
	35616.66,
times:
	0      1153
1         1
14        3
15        1
17        6
30        7
45        2
50        3
51        4
58        2
60        8
90       12
93        6
120       4
150       2
180       5
210       4
240       4
270       9
300      10
360      20
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg bonds:
	36727.40,
times:
	0     1153
1        1
14       3
15       1
17       6
Name: Duration_JailExp, dtype: int64

bond: Bond > $1,000, time: > 20
 avg bonds:
	22941.18,
times:
	30      7
45      2
50      3
51      4
58      2
60      8
90     12
93      6
120     4
150     2
180     5
210     4
240     4
270     9
300    10
360    20
Name: Duration_JailExp, dtype: int64


====TIME ONLY (Expected)====

time group: time <= 20 days

 avg bonds:
	12010.62,
times:
	0     3605
1        1
10       5
11       1
14       4
15       3
16       1
17       6
20       9
Name: Duration_JailExp, dtype: int64

time group: time > 20 days

 avg bonds:
	9603.36,
times:
	26      1
30     21
40      1
45      8
50      7
51      4
58      2
60     25
76      2
87      4
90     58
93     17
120     9
150     2
178     3
180    24
210     8
240     4
270     9
300    10
360    30
365     4
Name: Duration_JailExp, dtype: int64


====GROUP====
drug


group: drug
 avg bonds:
	16237.20

\placeholder:
 avg bonds:
	0.00


meaningful:
 avg bonds:
	19149.43


====BOND====

bond group: Bond <= $1,000
 avg bonds:
	438.21,
times:
	0      638
30       1
60       3
70       1
72       3
90       4
120      5
168      5
180      9
240      4
360     12
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg bonds:
	434.52,
times:
	0    638
Name: Duration_JailExp, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg bonds:
	488.30,
times:
	30      1
60      3
70      1
72      3
90      4
120     5
168     5
180     9
240     4
360    12
Name: Duration_JailExp, dtype: int64


====BOND====

bond group: Bond > $1,000
 avg bonds:
	37970.56,
times:
	0      588
7        1
25       2
30       5
41       4
60       8
83       2
87       2
90       5
93       1
120      2
150      1
168      3
180     22
240      5
270      4
300     12
360     14
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg bonds:
	41144.23,
times:
	0    588
7      1
Name: Duration_JailExp, dtype: int64

bond: Bond > $1,000, time: > 20
 avg bonds:
	17652.17,
times:
	25      2
30      5
41      4
60      8
83      2
87      2
90      5
93      1
120     2
150     1
168     3
180    22
240     5
270     4
300    12
360    14
Name: Duration_JailExp, dtype: int64


====TIME ONLY (Expected)====

time group: time <= 20 days

 avg bonds:
	19976.51,
times:
	0    1226
7       1
Name: Duration_JailExp, dtype: int64

time group: time > 20 days

 avg bonds:
	11848.56,
times:
	25      2
30      6
41      4
60     11
70      1
72      3
83      2
87      2
90      9
93      1
120     7
150     1
168     8
180    31
240     9
270     4
300    12
360    26
Name: Duration_JailExp, dtype: int64


====GROUP====
public order


group: public order
 avg bonds:
	47677.86

\placeholder:
 avg bonds:
	0.00


meaningful:
 avg bonds:
	58112.69


====BOND====

bond group: Bond <= $1,000
 avg bonds:
	290.74,
times:
	0      6006
1         2
3         2
5         4
10        3
20        4
30       31
45        5
48        2
60       14
72        2
90       14
91        1
93       15
120      22
140       4
160       3
180      20
240       4
270       4
300       4
360      18
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg bonds:
	283.30,
times:
	0     6006
1        2
3        2
5        4
10       3
20       4
Name: Duration_JailExp, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg bonds:
	565.74,
times:
	30     31
45      5
48      2
60     14
72      2
90     14
91      1
93     15
120    22
140     4
160     3
180    20
240     4
270     4
300     4
360    18
Name: Duration_JailExp, dtype: int64


====BOND====

bond group: Bond > $1,000
 avg bonds:
	217316.12,
times:
	0      2051
6         2
10       11
12        5
14        5
20        5
30       10
38        2
42        3
45       16
60        7
75        3
90       15
93        2
100       4
120      10
180      23
240       4
270       2
300      13
304       4
330       4
360      43
382       2
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg bonds:
	231073.89,
times:
	0     2051
6        2
10      11
12       5
14       5
20       5
Name: Duration_JailExp, dtype: int64

bond: Bond > $1,000, time: > 20
 avg bonds:
	46044.25,
times:
	30     10
38      2
42      3
45     16
60      7
75      3
90     15
93      2
100     4
120    10
180    23
240     4
270     2
300    13
304     4
330     4
360    43
382     2
Name: Duration_JailExp, dtype: int64


====TIME ONLY (Expected)====

time group: time <= 20 days

 avg bonds:
	59519.55,
times:
	0     8057
1        2
3        2
5        4
6        2
10      14
12       5
14       5
20       9
Name: Duration_JailExp, dtype: int64

time group: time > 20 days

 avg bonds:
	23580.62,
times:
	30     41
38      2
42      3
45     21
48      2
60     21
72      2
75      3
90     29
91      1
93     17
100     4
120    32
140     4
160     3
180    43
240     8
270     6
300    17
304     4
330     4
360    61
382     2
Name: Duration_JailExp, dtype: int64


====GROUP====
property


group: property
 avg bonds:
	15127.22

\placeholder:
 avg bonds:
	0.00


meaningful:
 avg bonds:
	17332.34


====BOND====

bond group: Bond <= $1,000
 avg bonds:
	442.66,
times:
	0      1614
5         2
15        1
30        7
45        1
60        9
61        1
72        6
90        2
93        5
100       4
120      11
150       7
180      15
270       7
300      12
330       2
360      25
365       2
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond <= $1,000, time: <= 20
 avg bonds:
	426.07,
times:
	0     1614
5        2
15       1
Name: Duration_JailExp, dtype: int64

bond: Bond <= $1,000, time: > 20
 avg bonds:
	673.94,
times:
	30      7
45      1
60      9
61      1
72      6
90      2
93      5
100     4
120    11
150     7
180    15
270     7
300    12
330     2
360    25
365     2
Name: Duration_JailExp, dtype: int64


====BOND====

bond group: Bond > $1,000
 avg bonds:
	35082.38,
times:
	0      1403
30       11
45        1
60        4
90        7
93        9
120       9
150       3
180      46
210       9
225       3
240       4
270      14
300      10
330      15
360      89
364       4
365       8
Name: Duration_JailExp, dtype: int64


====BOND AND TIME====

bond: Bond > $1,000, time: <= 20
 avg bonds:
	34693.29,
times:
	0    1403
Name: Duration_JailExp, dtype: int64

bond: Bond > $1,000, time: > 20
 avg bonds:
	37301.48,
times:
	30     11
45      1
60      4
90      7
93      9
120     9
150     3
180    46
210     9
225     3
240     4
270    14
300    10
330    15
360    89
364     4
365     8
Name: Duration_JailExp, dtype: int64


====TIME ONLY (Expected)====

time group: time <= 20 days

 avg bonds:
	16345.57,
times:
	0     3017
5        2
15       1
Name: Duration_JailExp, dtype: int64

time group: time > 20 days

 avg bonds:
	25564.48,
times:
	30      18
45       2
60      13
61       1
72       6
90       9
93      14
100      4
120     20
150     10
180     61
210      9
225      3
240      4
270     21
300     22
330     17
360    114
364      4
365     10
Name: Duration_JailExp, dtype: int64

In [169]:
# mapping of state-level unique charges to BJS codes
# 4. New York
file = "../../code_maps/newyork_map.csv"
NY_code_map = pd.read_csv(os.path.join(os.path.dirname('__file__'),file), \
                                     index_col=0, header=None, usecols=[1])

NY_charge_BJS_code_map = list(NY_code_map.index[1:])

# enter BJS code as values
charge_list_NY = list(map(lambda x: str(x),dfNYCleaned['charges'].unique()))
NY_charge_code = dict() # state charge desc to BJS code
for charge, label in zip(charge_list_NY, NY_charge_BJS_code_map):
    if label == '0':
        label = 999 # other
    if isinstance(charge,str):
        charge = charge.lower()
    NY_charge_code[charge] = int(label)

# run through actual data (cleaned) to map to code
data = dfNYCleaned['charges'].str.lower()
NY_code_categ = dict()
count = 0

# BJS Broad Category dicts to store row indices
BJS_broad_categ_dict = dict()
for idx,charge in enumerate(data):
    if charge in list(NY_charge_code.keys()):
        count += 1
        foundIdx = list(NY_charge_code.keys()).index(charge)
        NY_code =  list(NY_charge_code.values())[foundIdx]
        NY_categ = bjs_dict.get(NY_code)
        if NY_categ is None:
            NY_categ = 'other'
        # keep counter
        # and store indices to the BJS Broad Category dicts
        if NY_categ in NY_code_categ:
            NY_code_categ[NY_categ] += 1
        else:
            NY_code_categ[NY_categ] = 1
            BJS_broad_categ_dict[NY_categ] = []
        BJS_broad_categ_dict[NY_categ].append(idx)
            
# print('ex:',BJS_broad_categ_dict['violent'][0:5])
print("New York stats: %s" % NY_code_categ)

# groups = ['violent','public order','drug','property','other']
for i, group in enumerate(NY_code_categ):
    print('\n\n====GROUP====')
    idx = BJS_broad_categ_dict[group]
    dfNewYork = dfNYCleaned.iloc[idx,:]
    dfNewYork.to_csv('./cleaned/NY_'+group+'.csv', index=False)
    # statistics by each BJS broad category for AR
    races = dfNewYork['race'].value_counts().sort_index()
    sexes = dfNewYork['gender'].value_counts().sort_index()
    bonds = dfNewYork['bond_info'].mean()
    print(f'\n\ngroup: {group} \n races: \n\t{races}, \n sexes: \n\t{sexes}'+ \
         f'\n avg bonds: \n\t{bonds:.2f}')
    
    
    # break into placeholder and nontrivial dataframes
    # $10: max threshold
    mask = dfNewYork['bond_info'] <= 10
    placeholder_df = dfNewYork[mask]
    races = placeholder_df['race'].value_counts().sort_index()
    sexes = placeholder_df['gender'].value_counts().sort_index()
    bonds = placeholder_df['bond_info'].mean()
    print(f'placeholder (bond <= $10): \n races: \n\t{races}, \n sexes: \n\t{sexes}'+ \
         f'\n avg bonds: \n\t{bonds:.2f}')
    
    nontrivial_df = dfNewYork[~mask]
    races = nontrivial_df['race'].value_counts().sort_index()
    sexes = nontrivial_df['gender'].value_counts().sort_index()
    bonds = nontrivial_df['bond_info'].mean()
    print(f'\n\nmeaningful (bond > $10): \n races: \n\t{races}, \n sexes: \n\t{sexes}'+ \
         f'\n avg bonds: \n\t{bonds:.2f}')
    
    # Bond breakdown on nontrivial df
    mask = nontrivial_df['bond_info'] <= 1000
    bondGroupNY1 = nontrivial_df[mask]
    bondGroupNY2 = nontrivial_df[~mask]

    for i, dfNYgroup in enumerate([bondGroupNY1, bondGroupNY2]):
        print('\n\n====BOND====')
        if i == 0:
            group = '$10 < Bond <= $1,000'
        elif i == 1:
            group = 'Bond > $1,000'
        races = dfNYgroup['race'].value_counts().sort_index()
        sexes = dfNYgroup['gender'].value_counts().sort_index()
        bonds = dfNYgroup['bond_info'].mean()
        print(f'\nbond group: {group} \n races: \n\t{races}, \
                \n sexes:\n\t{sexes} \n avg bonds: \n\t{bonds:.2f}')

New York stats: {'violent': 970, 'public order': 65, 'property': 159, 'other': 300, 'drug': 54}


====GROUP====


group: violent
 races:
	Asian       13
Black      617
Indian       3
Other      238
Unknown      1
White       97
Name: race, dtype: int64,
 sexes:
	Female     48
Male      921
Name: gender, dtype: int64
 avg bonds:
	84819.30
placeholder (bond <= $10):
 races:
	Series([], Name: race, dtype: int64),
 sexes:
	Series([], Name: gender, dtype: int64)
 avg bonds:
	nan


meaningful (bond > $10):
 races:
	Asian       13
Black      617
Indian       3
Other      238
Unknown      1
White       97
Name: race, dtype: int64,
 sexes:
	Female     48
Male      921
Name: gender, dtype: int64
 avg bonds:
	84819.30


====BOND====

bond group: $10 < Bond <= $1,000
 races:
	Black    5
Other    2
White    2
Name: race, dtype: int64,
 sexes:
	Male    9
Name: gender, dtype: int64
 avg bonds:
	750.00


====BOND====

bond group: Bond > $1,000
 races:
	Asian       13
Black      612
Indian       3
Other      236
Unknown      1
White       95
Name: race, dtype: int64,
 sexes:
	Female     48
Male      912
Name: gender, dtype: int64
 avg bonds:
	85695.02


====GROUP====


group: public order
 races:
	Black     38
Indian     1
Other     20
White      6
Name: race, dtype: int64,
 sexes:
	Male    65
Name: gender, dtype: int64
 avg bonds:
	9544323.86
placeholder (bond <= $10):
 races:
	Series([], Name: race, dtype: int64),
 sexes:
	Series([], Name: gender, dtype: int64)
 avg bonds:
	nan


meaningful (bond > $10):
 races:
	Black     38
Indian     1
Other     20
White      6
Name: race, dtype: int64,
 sexes:
	Male    65
Name: gender, dtype: int64
 avg bonds:
	9544323.86


====BOND====

bond group: $10 < Bond <= $1,000
 races:
	Other    1
Name: race, dtype: int64,
 sexes:
	Male    1
Name: gender, dtype: int64
 avg bonds:
	999.00


====BOND====

bond group: Bond > $1,000
 races:
	Black     38
Indian     1
Other     19
White      6
Name: race, dtype: int64,
 sexes:
	Male    64
Name: gender, dtype: int64
 avg bonds:
	9693438.31


====GROUP====


group: property
 races:
	Black     95
Indian     1
Other     49
White     14
Name: race, dtype: int64,
 sexes:
	Female      6
Male      153
Name: gender, dtype: int64
 avg bonds:
	128644.96
placeholder (bond <= $10):
 races:
	Series([], Name: race, dtype: int64),
 sexes:
	Series([], Name: gender, dtype: int64)
 avg bonds:
	nan


meaningful (bond > $10):
 races:
	Black     95
Indian     1
Other     49
White     14
Name: race, dtype: int64,
 sexes:
	Female      6
Male      153
Name: gender, dtype: int64
 avg bonds:
	128644.96


====BOND====

bond group: $10 < Bond <= $1,000
 races:
	Other    3
Name: race, dtype: int64,
 sexes:
	Male    3
Name: gender, dtype: int64
 avg bonds:
	667.00


====BOND====

bond group: Bond > $1,000
 races:
	Black     95
Indian     1
Other     46
White     14
Name: race, dtype: int64,
 sexes:
	Female      6
Male      150
Name: gender, dtype: int64
 avg bonds:
	131106.07


====GROUP====


group: other
 races:
	Asian        3
Black      185
Other       84
Unknown      1
White       27
Name: race, dtype: int64,
 sexes:
	Female      8
Male      292
Name: gender, dtype: int64
 avg bonds:
	126626.00
placeholder (bond <= $10):
 races:
	Series([], Name: race, dtype: int64),
 sexes:
	Series([], Name: gender, dtype: int64)
 avg bonds:
	nan


meaningful (bond > $10):
 races:
	Asian        3
Black      185
Other       84
Unknown      1
White       27
Name: race, dtype: int64,
 sexes:
	Female      8
Male      292
Name: gender, dtype: int64
 avg bonds:
	126626.00


====BOND====

bond group: $10 < Bond <= $1,000
 races:
	Black    1
Other    2
White    1
Name: race, dtype: int64,
 sexes:
	Male    4
Name: gender, dtype: int64
 avg bonds:
	812.50


====BOND====

bond group: Bond > $1,000
 races:
	Asian        3
Black      184
Other       82
Unknown      1
White       26
Name: race, dtype: int64,
 sexes:
	Female      8
Male      288
Name: gender, dtype: int64
 avg bonds:
	128326.19


====GROUP====


group: drug
 races:
	Asian     1
Black    28
Other    19
White     6
Name: race, dtype: int64,
 sexes:
	Female     1
Male      53
Name: gender, dtype: int64
 avg bonds:
	83204.30
placeholder (bond <= $10):
 races:
	Series([], Name: race, dtype: int64),
 sexes:
	Series([], Name: gender, dtype: int64)
 avg bonds:
	nan


meaningful (bond > $10):
 races:
	Asian     1
Black    28
Other    19
White     6
Name: race, dtype: int64,
 sexes:
	Female     1
Male      53
Name: gender, dtype: int64
 avg bonds:
	83204.30


====BOND====

bond group: $10 < Bond <= $1,000
 races:
	Black    2
Name: race, dtype: int64,
 sexes:
	Male    2
Name: gender, dtype: int64
 avg bonds:
	1000.00


====BOND====

bond group: Bond > $1,000
 races:
	Asian     1
Black    26
Other    19
White     6
Name: race, dtype: int64,
 sexes:
	Female     1
Male      51
Name: gender, dtype: int64
 avg bonds:
	86366.00

In [170]:
# bond group analysis module
mask = dfArkansasCleaned['Bond'] <= 1000
bondGroupAR1 = dfArkansasCleaned[mask]
bondGroupAR2 = dfArkansasCleaned[~mask]

print('====ARKANSAS====')
for i, dfARgroup in enumerate([bondGroupAR1, bondGroupAR2]):
    if i == 0:
        group = 'Bond <= $1,000'
    elif i == 1:
        group = 'Bond > $1,000'
    avgAge = dfARgroup['Age'].mean()
    races = dfARgroup['Race'].value_counts()
    sexes = dfARgroup['Sex'].value_counts()
    bonds = dfARgroup['Bond'].mean()
    print(f'\nbond group: {group} \n avg age: \n\t{avgAge:.1f}, \n races: \n{races}, \
            \n sexes:\n{sexes} \n avg bonds: \n\t{bonds:.2f}')

# 2. Louisiana
mask = dfLouisianaCleaned['Bond'] <= 1000
bondGroupLA1 = dfLouisianaCleaned[mask]
bondGroupLA2 = dfLouisianaCleaned[~mask]

# general statistics on these bond groups
print('\n\n====LOUISIANA====')
for i, dfLAgroup in enumerate([bondGroupLA1, bondGroupLA2]):
    if i == 0:
        group = 'Bond <= $1,000'
    elif i == 1:
        group = 'Bond > $1,000'
    races = dfLAgroup['Race'].value_counts()
    sexes = dfLAgroup['Sex'].value_counts()
    bonds = dfLAgroup['Bond'].mean()
    print(f'\nbond group: {group} \n races: \n{races}, \
            \n sexes:\n{sexes} \n avg bonds: \n\t{bonds:.2f}')

====ARKANSAS====

bond group: Bond <= $1,000
 avg age:
	34.3,
 races:
White       4814
Black       1230
Hispanic     771
None          77
Asian         40
p             29
Indian        23
Name: Race, dtype: int64,
 sexes:
M       5720
F       1246
None      18
Name: Sex, dtype: int64
 avg bonds:
	12.90

bond group: Bond > $1,000
 avg age:
	34.4,
 races:
White       1065
Black        214
Hispanic     164
None          31
p              9
Asian          7
Indian         6
Name: Race, dtype: int64,
 sexes:
M       1196
F        295
None       5
Name: Sex, dtype: int64
 avg bonds:
	41977.93


====LOUISIANA====

bond group: Bond <= $1,000
 races:
Black       31120
White        6816
Hispanic      619
None          262
Asian          41
Name: Race, dtype: int64,
 sexes:
M    33612
F     5246
Name: Sex, dtype: int64
 avg bonds:
	28.23

bond group: Bond > $1,000
 races:
Black       9068
White       2135
Hispanic     338
None         112
Asian         17
Name: Race, dtype: int64,
 sexes:
M       10333
F        1295
None       42
Name: Sex, dtype: int64
 avg bonds:
	72320.76

In [171]:
# time analysis module

# 1. Arkansas
dfArkansasCleanedTime = dfArkansasCleaned[dfArkansasCleaned['Duration_Jail'] != -1]
mask = dfArkansasCleanedTime['Duration_Jail'] <= 90
timeGroupAR1 = dfArkansasCleanedTime[mask]
timeGroupAR2 = dfArkansasCleanedTime[~mask]

print('\n\n====ARKANSAS====')
for i, dfARgroup in enumerate([timeGroupAR1, timeGroupAR2]):
    if i == 0:
        group = 'time <= 90 days'
    elif i == 1:
        group = 'time > 90 days'

    avgAge = dfARgroup['Age'].mean()
    races = dfARgroup['Race'].value_counts()
    sexes = dfARgroup['Sex'].value_counts()
    bonds = dfARgroup['Bond'].mean()
    times = dfARgroup['Duration_Jail'].value_counts()
    print(f'\ntime group: {group} \n\n avg age: \n\t{avgAge:.1f}, \n races: \n{races}, \
            \n sexes:\n{sexes} \n avg bonds: \n\t{bonds:.2f}')

# 2. Louisiana
dfLouisianaCleanedTime = dfLouisianaCleaned[dfLouisianaCleaned['Duration_Jail'] != -1]
mask = dfLouisianaCleanedTime['Duration_Jail'] <= 90
timeGroupLA1 = dfLouisianaCleanedTime[mask]
timeGroupLA2 = dfLouisianaCleanedTime[~mask]

print('\n\n====LOUISIANA====')
for i, dfLAgroup in enumerate([timeGroupLA1, timeGroupLA2]):
    if i == 0:
        group = 'time <= 90 days'
    elif i == 1:
        group = 'time > 90 days'

    races = dfLAgroup['Race'].value_counts()
    sexes = dfLAgroup['Sex'].value_counts()
    bonds = dfLAgroup['Bond'].mean()
    times = dfLAgroup['Duration_Jail'].value_counts()
    
    print(f'\ntime group: {group} \n\n races: \n{races}, \
            \n\n sexes:\n{sexes} \n\n avg bonds: \n\t{bonds:.2f}')

====ARKANSAS====

time group: time <= 90 days

 avg age:
	31.9,
 races:
White       18
Black        1
Hispanic     1
Name: Race, dtype: int64,
 sexes:
F    13
M     7
Name: Sex, dtype: int64
 avg bonds:
	75.00

time group: time > 90 days

 avg age:
	53.8,
 races:
White    8
Name: Race, dtype: int64,
 sexes:
M    6
F    2
Name: Sex, dtype: int64
 avg bonds:
	625.00


====LOUISIANA====

time group: time <= 90 days

 races:
Black       3226
White       1055
Hispanic      58
None          38
Asian         15
Name: Race, dtype: int64,

 sexes:
M    3326
F    1066
Name: Sex, dtype: int64

 avg bonds:
	2145.86

time group: time > 90 days

 races:
Black       789
White       242
Hispanic     18
None          9
Asian         1
Name: Race, dtype: int64,

 sexes:
M    942
F    117
Name: Sex, dtype: int64

 avg bonds:
	2369.63